/*Sidebar nav styles*/
.header-none {
  display: none;
}

.usersec {
  position: relative;
}

.usersec .username a {
  font-size: 12.5px;
  color: #6a6c6fb3;
  font-weight: 700;
  padding: 0;
  letter-spacing: 1px;
}

.usersec .username {
  padding-left: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-top: 8px;
}

.username .user-nav-name {
  font-size: 16.67px;
  color: #6a6c6f;
  letter-spacing: 1px;
}

.usersec .username a i {
  margin-left: 5px;
}

.usersec .userimg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.user-block li {
  padding-left: 22px;
  padding-right: 15px;
  margin-top: 0;
  background: #1e3365;
  margin-right: -15px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav>li:nth-child(2) {
  padding: 48px 30px 48px 40px;
  border-bottom: 1px solid #edf0f5;
  margin-bottom: 45px;
}

.sidebar-nav>li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 408px;
}

.sidebar-nav>li:first-child a {
  background-color: #303f9f;
  padding-left: 30px;
  padding-bottom: 34px;
  padding-top: 28px;
  margin-bottom: 0;
}

.sidebar-nav>li:nth-child(3) {
  font-size: 12.5px;
  color: #6a6c6fa3;
  padding: 0 30px 0 40px;
  font-weight: 600;
}

.sidebar-nav>li a {
  display: block;
  color: #6a6c6f;
  text-decoration: none;
  padding: 37px 40px;
  font-size: 18.75px;
  position: relative;
  font-weight: 700;
  padding-left: 75px;
  margin-bottom: 9px;
}

.sidebar-nav>.sidebar-brand {
  font-size: 20px;
  line-height: 44px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.sidebar-nav .dropdown-menu {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: none;
  left: 11px;
  min-width: 100px;
}

.sidebar-nav>li a .dashicon {
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 37px;
  font-size: 20px;
}

/*media Query*/
@media only screen and (max-width: 1800px) and (min-width: 1501px) {
  .sidebar-nav>li:first-child a {
    padding-bottom: 18px;
    padding-top: 13px;
  }

  .sidebar-nav>li:nth-child(2) {
    padding: 20px;
  }

  .usersec .username {
    padding-left: 10px;
  }

  .sidebar-nav>li a {
    padding: 25px 20px 25px 50px;
  }

  .sidebar-nav>li a .dashicon {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 24px;
    font-size: 20px;
  }

  .sidebar-nav>li:nth-child(3) {
    font-size: 12.5px;
    color: #6a6c6fa3;
    padding: 0 30px 0 20px;
  }
}

@media only screen and (max-width: 1500px) {
  .usersec .username {
    padding-left: 10px;
  }

  .username .user-nav-name {
    font-size: 15px;
  }

  .sidebar-nav>li {
    width: 308px;
  }

  .sidebar-nav>li:nth-child(2) {
    padding: 20px 15px 20px 20px;
    margin-bottom: 20px;
  }

  .sidebar-nav>li:first-child a {
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .sidebar-nav>li:nth-child(3) {
    padding: 0 20px 0 20px;
  }

  .sidebar-nav>li a {
    padding: 20px 20px;
    padding-left: 50px;
  }

  .sidebar-nav>li a .dashicon {
    left: 20px;
    top: 20px;
  }

}

@media only screen and (max-width: 992px) {
  .usersec .userimg {
    height: 60px;
    width: 60px;
  }

  .sidebar-nav>li {
    width: 250px;
  }

  .sidebar-nav>li a {
    font-size: 16px;
    padding: 15px 20px;
    padding-left: 55px;
    text-align: left;
  }
}

@media only screen and (max-width: 668px) {
  .sidebar-nav>li:first-child a {
    padding-bottom: 25px;
    padding-top: 26px;
  }
}
