 <!-- Sidebar -->
 <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"
   [ngClass]="{'header-none': isMenuClick}">
   <ul class="nav sidebar-nav">
     <li class="sidebar-brand">
       <a href="index.html">
         <img src="../../assets/images/logo.png" alt="">
       </a>
     </li>
     <li>
       <div class="usersec">
         <span class="userimg">
           <img src="../../assets/images/user.png" alt="">
         </span>
         <div class="username">
           <h3 class="user-nav-name">HUNGFT PHAM</h3>
           <a href="javascript:void(0);" data-toggle="dropdown">
             <span>UX designer</span>
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </a>
           <ul class="dropdown-menu userinfo" id="useropt">

             <li>
               <a href="javascript:void(0);">Profile</a>
             </li>
             <li>
               <a href="javascript:void(0);">Setting</a>
             </li>
             <li>
               <a href="javascript:void(0);">Log Out</a>
             </li>
           </ul>
         </div>
       </div>

     </li>
     <li>UI Kits</li>
     <li>
       <a routerLink="/dashboard">
         <span class="dashicon"><i class="fa fa-home" aria-hidden="true"></i></span>
         <span>Dashboard</span>
       </a>
     </li>
     <li>
       <a routerLink="/apps">
         <span class="dashicon"><i class="fa fa-bolt" aria-hidden="true"></i></span>
         <span>Apps</span>
       </a>
     </li>
     <li>
       <a routerLink="/components">
         <span class="dashicon"><i class="fa fa-lock" aria-hidden="true"></i></span>
         <span>Components</span>
       </a>
     </li>
     <li>
       <a routerLink="/email">
         <span class="dashicon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
         <Span>Email</Span>
       </a>
     </li>
     <li>
       <a routerLink="/form">
         <span class="dashicon"><i class="fa fa-anchor" aria-hidden="true"></i></span>
         <Span>Form</Span>
       </a>
     </li>
     <li>
       <a routerLink="/maps">
         <span class="dashicon"><i class="fa fa-map" aria-hidden="true"></i></span>
         <Span>Maps</Span>
       </a>
     </li>
     <li>
       <a routerLink="/pages">
         <span class="dashicon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
         <Span>Pages</Span>
       </a>
     </li>
     <li>
       <a routerLink="/Menu">
         <span class="dashicon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
         <Span>Menu</Span>
       </a>
     </li>
     <li>
       <hr>
     </li>
     <li>
       <a href="javascript:void(0);">
         <span class="dashicon"><i class="fa fa-cog" aria-hidden="true"></i></span>
         <Span>Settings</Span>
       </a>
     </li>
     <li>
       <a href="javascript:void(0);">
         <span class="dashicon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
         <Span>Document</Span>
       </a>
     </li>
     <li>
       <a href="javascript:void(0);">
         <span class="dashicon"><i class="fa fa-html5" aria-hidden="true"></i></span>
         <Span>HTML Version</Span>
       </a>
     </li>
   </ul>
 </nav>
 <!-- /#sidebar-wrapper -->
