<!-- Page Content -->
<div id="page-content-wrapper" [ngClass]="{'nopadding': isMenuClick}">
  <button type="button" class="hamburger is-open" data-toggle="offcanvas">
    <span class="menulogoouter">
      <img src="../../assets/images/menulogo.png" alt="">
    </span>
  </button>
  <div class="container-fluid custcontainer">
    <div class="d-contant">
      <div class="section1">
        <div class="row">
          <div class="col-lg-6">
            <div class="sec1-contant">
              <div class="sec1-contant-left">
                <h3>Welcome to <span>Space</span></h3>
                <p>Number of Views</p>
              </div>
              <div class="sec1-contant-right">
                <h2>102</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="sec1-contant">
              <div class="sec1-contant-left">
                <h3>Active</h3>
                <p>Leads/Contacts</p>
              </div>
              <div class="sec1-contant-right">
                <h2>325</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section2">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="sec2contant blue">
              <div class="sec2-contant-top">
                <div class="sec2-top-left">
                  <h3>66,163k</h3>
                  <p>Total Leads</p>
                </div>
                <div class="sec2-top-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon.png" alt=""></a>
                </div>
              </div>
              <div class="sec2-contant-bottom">
                <div class="sec2-bottom-left">
                  <h3>% change</h3>
                </div>
                <div class="sec2-bottom-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon-bar1.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="sec2contant orrange">
              <div class="sec2-contant-top">
                <div class="sec2-top-left">
                  <h3>3,490</h3>
                  <p>Total Pending</p>
                </div>
                <div class="sec2-top-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon2.png" alt=""></a>
                </div>
              </div>
              <div class="sec2-contant-bottom">
                <div class="sec2-bottom-left">
                  <h3>% change</h3>
                </div>
                <div class="sec2-bottom-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon-bar2.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="sec2contant green">
              <div class="sec2-contant-top">
                <div class="sec2-top-left">
                  <h3>8,372k</h3>
                  <p>Case Closed</p>
                </div>
                <div class="sec2-top-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon3.png" alt=""></a>
                </div>
              </div>
              <div class="sec2-contant-bottom">
                <div class="sec2-bottom-left">
                  <h3>% change</h3>
                </div>
                <div class="sec2-bottom-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon-bar3.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="sec2contant yellow">
              <div class="sec2-contant-top">
                <div class="sec2-top-left">
                  <h3>5,355k</h3>
                  <p>Task Completed</p>
                </div>
                <div class="sec2-top-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon4.png" alt=""></a>
                </div>
              </div>
              <div class="sec2-contant-bottom">
                <div class="sec2-bottom-left">
                  <h3>% change</h3>
                </div>
                <div class="sec2-bottom-right">
                  <a href="javascript:void(0);"><img src="../../assets/images/sec2-icon-bar4.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section3">
        <div class="row">
          <div class="col-lg-5">
            <div class="sec3-left">
              <h2>Sales in 2017</h2>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically pro- crastinate
                B2C users after installed base bene- fits. Dramatically visualize customer directed convergence
                without<br>
                revolutionary ROI.</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="sec3-right">
              <img src="../../assets/images/bar.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="section4">
        <div class="row">
          <div class="col-lg-7">
            <div class="sec4-contant-all-left sec4-contant-all">
              <h2>Active Leads</h2>
              <div class="outer-table">
                <table class="table table-borderless">
                  <tr>
                    <th>Type</th>
                    <th>Lead Name</th>
                    <th>Views</th>
                    <th>Favorites</th>
                    <th>Last Visit</th>
                    <th>Last Action</th>
                  </tr>
                  <tr>
                    <td>Buyer</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-internet-explorer" aria-hidden="true"></i> 8/27/2015</td>
                  </tr>
                  <tr>
                    <td>Buyer</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-internet-explorer" aria-hidden="true"></i> 8/27/2015</td>
                  </tr>
                  <tr>
                    <td class="landlord">Landlord</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-envelope-o" aria-hidden="true"></i> 8/27/2015</td>
                  </tr>
                  <tr>
                    <td>Buyer</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-envelope-o" aria-hidden="true"></i> 8/27/2015</td>
                  </tr>
                  <tr>
                    <td class="seller">Seller</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-internet-explorer" aria-hidden="true"></i> 8/27/2015</td>
                  </tr>
                  <tr>
                    <td>Buyer</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-internet-explorer" aria-hidden="true"></i> 8/27/2015</td>
                  </tr>
                  <tr>
                    <td>Buyer</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-envelope-o" aria-hidden="true"></i>8/27/2015</td>
                  </tr>
                  <tr>
                    <td>Buyer</td>
                    <td>Denise Ann</td>
                    <td>153</td>
                    <td>0</td>
                    <td>9:23 AM</td>
                    <td><i class="fa fa-internet-explorer" aria-hidden="true"></i> 8/27/2015</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="sec4-right-contant">
              <div class="sec4-contant-all">
                <h2>Todo List</h2>
                <div class="tog-btn"><a href="javascript:void(0);" class="comm-btn">Toggle All</a></div>
                <div class="list">
                  <label class="list-box">Collaboratively administrate
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="list-box checked-txt">Another todo on the list. Add as many you want.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  <label class="list-box">Dramatically maintain clicks-and-mortar
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="list-box">administrate empowered markets.
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="sec4-bottom-contant">
                <p>Write some todo task here</p>
              </div>
              <div class="sec4-btn">
                <a href="javascript:void(0);" class="comm-btn">All</a>
                <a href="javascript:void(0);" class="comm-btn">Active</a>
                <a href="javascript:void(0);" class="comm-btn">Clear Compleated <span>(01)</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section5">
        <div class="row">
          <div class="col-lg-6">
            <div class="sec5-contant">
              <h2>Activities</h2>
              <ul class="activities">
                <li class="act-contant">
                  <p>2 mins ago</p>
                  <h3>Template Builder Access (Video tutorial inside documentation)</h3>
                </li>
                <li class="act-contant">
                  <p>1 hour ago</p>
                  <h3>Designed the wordpress theme lily created her account.</h3>
                </li>
                <li class="act-contant">
                  <p>4:30 p.m</p>
                  <h3>Your domain will expired in 13 days.</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="section6"></div> -->
      <footer class="footer">
        <div class="row">
          <div class="col-sm-8">
            <div class="left-footer">
              <ul>
                <li>Copyright 2017. All rights reserved</li>
                <li><a href="javascript:void(0);">Careers </a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="right-footer">
              <ul>
                <li><a href="javascript:void(0);">Feedback<i class="fa fa-angle-up" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
